footer {
    background-color: #12372A;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 80px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer a {
    color: #a8ffdd;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}