{% extends 'base.html' %}
{% block body %}
<div class="form-container">
  <h1 class="form-title">Create Form</h1>

  <a href="{% url 'TodoList' %}" class="back-link">← Back To Main Page</a>

  <form action="{% url 'TodoCreate' %}" method="post" class="todo-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" name="title" required>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea name="description"  required></textarea>
    </div>

    <div class="form-group checkbox-group">
      <input type="checkbox" name="completed" {% if todo and todo.completed %}checked{% endif %}>
      <label for="completed">Completed</label>
    </div>

    <button type="submit" class="submit-button">Create</button>
  </form>
</div>
{% endblock %}

